.elements {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-auto-rows: auto;
  gap: 20px;
  min-height: 40vh;
}

@media screen and (max-width: 768px) {
  .elements {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 576px) {
  .elements {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 468px) {
  .elements {
    padding: 0 19px;
  }
}
