.element__like {
  cursor: pointer;
  transition: opacity .3s;
  border: none;
  background: url('../../../images/like.svg') no-repeat;
  width: 22px;
  height: 19px;
}

.element__like:hover {
  opacity: .5;
}


