.popup__input {
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  height: 27px;
  width: 100%;
  font-size: 14px;
  line-height: 17px;
  padding-bottom: 13px;
}

.popup__input::placeholder {
  color: #C4C4C4;
}
